In [1]:
import pandas as pd
import os

In [2]:
experiment_type_A = 'reward-network-iii-8A-v1'
experiment_type_B = 'reward-network-iii-8B-v1'

# Estimate the social learning rate

The social learning rate is the probability that and individual exposed to a optimal behavior will adopt it.

In [17]:
moves_df = pd.read_csv(os.path.join('./data/pilots/',experiment_type_B,'moves.csv'))

moves_df = moves_df[~moves_df['ai_player']]


rel_trial_types = ['try_yourself']

# moves_df = moves_df[moves_df['trial_type'].isin(rel_trial_types)]

opt_df = moves_df.groupby(['session_id', 'trial_id', 'trial_type'])[['optimal','myopic']].sum().reset_index()
opt_df['all_optimal'] = opt_df['optimal'] == 10
opt_df['all_myopic'] = opt_df['myopic'] == 10
opt_df['other'] = ~(opt_df['all_optimal'] | opt_df['all_myopic'])


opt_df2 = opt_df[opt_df['trial_type'].isin(rel_trial_types)].copy()
opt_df['all_optimal_discovered'] = opt_df.groupby('session_id')['all_optimal'].transform('cummax')
opt_df['not_discovered'] = ~opt_df['all_optimal_discovered']

opt_player_df = opt_df.groupby('session_id')['not_discovered'].sum().reset_index()
print(1 - opt_player_df.shape[0] / opt_player_df['not_discovered'].sum())

0.5

In [20]:
opt_df.groupby(['trial_type'])[['all_optimal', 'all_myopic', 'other']].mean()

               all_optimal  all_myopic  other
trial_type
demonstration        0.525       0.075  0.400
individual           0.000       0.400  0.600
observation          1.000       0.000  0.000
repeat               0.975       0.000  0.025
try_yourself         0.450       0.150  0.400

# Estimate the individual learning rate

The individual learning rate is the probability that and individual will adopt the optimal behavior on its own.

In [ ]:
moves_df = pd.read_csv(os.path.join('./data/pilots/',experiment_type_A,'moves.csv'))
rel_trial_types = ['individual', 'demonstration']

# moves_df = moves_df[moves_df['trial_type'].isin(rel_trial_types)]

opt_df = moves_df.groupby(['session_id', 'trial_id','trial_type'])[['optimal','myopic']].sum().reset_index()
opt_df['all_optimal'] = opt_df['optimal'] == 10
opt_df['all_myopic'] = opt_df['myopic'] == 10
opt_df['other'] = ~(opt_df['all_optimal'] | opt_df['all_myopic'])

(opt_df['all_optimal'].sum() + 1) / (opt_df.shape[0] + 1)

0.01098901098901099

In [ ]:
opt_df

,session_id,trial_id,trial_type,optimal,myopic,all_optimal,all_myopic,other
0,6568f8ff464e933804a0fb63,4,individual,6,6,False,False,True
1,6568f8ff464e933804a0fb63,5,individual,3,10,False,True,False
2,6568f8ff464e933804a0fb63,8,individual,0,10,False,True,False
3,6568f8ff464e933804a0fb63,9,individual,1,9,False,False,True
4,6568f8ff464e933804a0fb63,10,individual,0,10,False,True,False
...,...,...,...,...,...,...,...,...
85,6568f8ff464e933804a0fb6d,11,individual,0,10,False,True,False
86,6568f8ff464e933804a0fb6d,14,demonstration,2,8,False,False,True
87,6568f8ff464e933804a0fb6d,15,demonstration,0,10,False,True,False
88,6568f8ff464e933804a0fb6d,16,demonstration,1,7,False,False,True
89,6568f8ff464e933804a0fb6d,17,demonstration,0,10,False,True,False

In [ ]:
opt_df.groupby(['trial_type'])[['all_optimal', 'all_myopic', 'other']].mean()

               all_optimal  all_myopic     other
trial_type
demonstration          0.0    0.583333  0.416667
individual             0.0    0.407407  0.592593